// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  font-family: 'Open Sans', sans-serif;
}

.page-container {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

.title-card {
  background-color: #D0EFB1;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
}

.title-text {
  color: white;
  text-align: center;
  font-size: 10em;
  margin: 0;
}

.home-page {
  width: 100vw;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);
  background-size: cover;
}

.menu-page {
  width: 100%;
  height: 100%;
  // background-image: url(https://images.unsplash.com/photo-1560963689-7f69d8ca0518?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=993&q=80);
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  background-color: #77A6B6;
}

.menu-container {
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
  background-color: white;
  width: 100%;
  padding: 2em;

}

.catering-page {
  width: 100vw;
  height: 100vh;
  // background-image:  url(https://images.unsplash.com/photo-1565898094840-7e408a6f361d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80);
  // background-size: 100% 100%;
  background-color: #EAE8FF;
}

.info-page {
  width: 100vw;
  height: 100vh;
  // background-image:  url(https://images.unsplash.com/photo-1480455454781-1af590be2a58?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  // background-size: 100% 100%;
  background-color: #FCDEBE;
}

.reviews-page {
  width: 100vw;
  height: 100vh;
  // background-image:  url(https://images.unsplash.com/photo-1546567075-d7113bee3c4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=987&q=80);
  // background-size: 100% 100%;
  background-color: #ED9B40;
}

.link-container {
  font-size: 1em;
  padding-left: 1em;
  padding-top: 0.25em;
  .link {
    color: #fff;
  }
  .active {
    color: rgba(255,255,255,0.75);
  }
  .link:active {
    color: rgba (255,255,255,0.75)
  }
}

footer .fab {
  font-size: 30px;
  color: #f9cd44;
}



